@import "./var";
.page{
    padding: 0 1.3rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 9rem;


    h1{
        font-size: 4rem;
        transition: all 2s ease;
        color:$heading;
    }
    h4{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: rgb(80, 79, 79);
        font-style: italic;
        
    }

    .img{
        display: block;
        margin: 0 auto;
        max-width: 600px;
        height: 400px;
    }

    p{
        font-size: 2rem;
        line-height: 2.7rem;
        color: $des;
    }

    h3{
        margin-top: 6rem;
        font-size: 2.5rem;
        color:$highlight
    }
    h2{
        margin-top: 6rem;
        font-size: 2.5rem;
        color: $subheading;
        
    }
 
    h5{
        font-size:2rem;
    }

    li{
        list-style-type: none;
    }

    .back{
        display: flex;
        justify-content: left;
        margin-top: 6rem;
        padding: 6rem;
        a{
            font-size: 3rem;
            text-decoration: none;
            color:$heading;
            
            font-weight: 600;
        }
    }
    
}



@media(max-width:700px){
    .page{
        padding:0rem 2rem;
        h1{
            font-size:2.8rem;
        }
        h4{
            font-size: 1.2rem;
        }

        .img{
            width: 250px;
            height: 150px;
        }

        p{
            font-size: 1.8rem;
        }
    }
    

}