@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.home {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 1rem;
}

.box {
  margin-bottom: 3rem;
  cursor: pointer;
  max-width: 500px;
  overflow: hidden;
  border-bottom: 0px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .link {
  text-decoration: none;
}

.box-heading {
  font-size: 4rem;
  display: block;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  color: #03314b;
  text-decoration: none;
}

.box-heading:hover .border {
  background-color: #2ce07f;
  -webkit-box-shadow: 0px 2px 20px #2ce07f;
          box-shadow: 0px 2px 20px #2ce07f;
}

.box-heading .border {
  margin-top: 6px;
  height: 0.8rem;
  display: block;
  border-radius: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.box-description {
  margin-top: -1rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: "$des";
}

.box-date {
  font-size: 1.4rem;
}

.box-date span {
  margin-left: 4rem;
}

@media (max-width: 700px) {
  .box {
    padding: 1.5rem;
  }
  .box-heading {
    font-size: 3rem;
  }
  .box-description {
    font-size: 1.5rem;
  }
}

.page {
  padding: 0 1.3rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 9rem;
}

.page h1 {
  font-size: 4rem;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  color: #03314b;
}

.page h4 {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #504f4f;
  font-style: italic;
}

.page .img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  height: 400px;
}

.page p {
  font-size: 2rem;
  line-height: 2.7rem;
  color: #405863;
}

.page h3 {
  margin-top: 6rem;
  font-size: 2.5rem;
  color: #2ce07f;
}

.page h2 {
  margin-top: 6rem;
  font-size: 2.5rem;
  color: #02466d;
}

.page h5 {
  font-size: 2rem;
}

.page li {
  list-style-type: none;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 6rem;
  padding: 6rem;
}

.back a {
  font-size: 3rem;
  text-decoration: none;
  color: #03314b;
  font-weight: 600;
}

@media (max-width: 700px) {
  .page {
    padding: 0rem 2rem;
  }
  .page h1 {
    font-size: 2.8rem;
  }
  .page h4 {
    font-size: 1.2rem;
  }
  .page .img {
    width: 250px;
    height: 150px;
  }
  .page p {
    font-size: 1.8rem;
  }
}

.quotes {
  padding: 0 1.3rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 9rem;
}

.quotes .heading {
  font-size: 4.8rem;
  font-weight: 400;
}

.quotes .qborder {
  margin-top: 6px;
  height: 0.8rem;
  max-width: 16rem;
  margin-top: -2rem;
  display: block;
  border-radius: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #2ce07f;
  -webkit-box-shadow: 0px 2px 20px #2ce07f;
          box-shadow: 0px 2px 20px #2ce07f;
}

.quotes .date {
  font-size: 2rem;
  color: #778491;
}

.quotes .textbox {
  margin: 8rem auto;
}

.quotes .text {
  font-size: 2rem;
  color: #5e6d7d;
  font-style: italic;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.quotes .text span {
  display: block;
  font-style: normal;
  color: #405863;
  font-weight: 400 !important;
}

@media (max-width: 700px) {
  .quotes {
    padding: 0 4.2rem;
  }
}

.about-section {
  padding: 0 1.3rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 9rem;
}

.about-section .heading {
  font-size: 4.8rem;
  font-weight: 400;
}

.about-section .qborder {
  margin-top: 6px;
  height: 0.8rem;
  max-width: 18rem;
  margin-top: -2rem;
  display: block;
  border-radius: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #2ce07f;
  -webkit-box-shadow: 0px 2px 20px #2ce07f;
          box-shadow: 0px 2px 20px #2ce07f;
}

.about-section .intro {
  margin-top: 9rem;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  color: #5e6d7d;
}

.about-section h2 {
  margin-top: 9rem;
  font-size: 4rem;
  color: #34495f;
}

.about-section h3 {
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 3rem;
  color: #34495f;
}

.about-section .waintro {
  margin-left: 2rem;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  color: #5e6d7d;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.nav {
  margin-top: 3rem;
}

.nav-bar {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  padding: 1rem 3rem;
  margin: 0 auto;
}

.nav .logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  color: black;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right a.about {
  text-decoration: none;
  margin-right: 4rem;
  color: black;
  -webkit-transition: all 1s ease smooth;
  transition: all 1s ease smooth;
}

.nav-right a.about:hover {
  border-bottom: 4px solid #2ce07f;
  text-shadow: 0px 2px 20px #2ce07f;
}

@media (max-width: 700px) {
  .nav-bar {
    padding: 1rem 1rem;
  }
  .nav .logo {
    font-size: 4rem;
  }
  .nav a.about {
    margin-right: 1.2rem;
  }
  -right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.rgtg {
  max-width: 700px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rgtg .text {
  text-align: center;
  font-size: 4rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  font-family: 'Satisfy', cursive;
  font-weight: 300;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.rgtg .text:hover {
  cursor: pointer;
  color: #2ce07f;
  text-shadow: 0 1px 50px #405863;
}
/*# sourceMappingURL=App.css.map */